html, body{
    background-color: #F0FFFF;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #89CFFF;
    box-shadow: 10px 10px 20px rgba(0.1, 0.1, 0.1, 0.2);
}
#search-txt{
    background-color: #E4E5E5;
    outline: none;
    border-radius: 18px;
    border: none;
    margin: 20px;
    margin-top: 70px;
    padding: 10px;
    height: 18px;
    width: 80px;
    align-items: center;
    transition: 1.5s;
    box-shadow: 10px 10px 20px rgba(0.1, 0.1, 0.1, 0.2);
}
#search-txt:hover, #search-txt:focus{
    transition: 0.6s;
    padding: 10px;
    width: 100px;
}
.search a{
    text-decoration: none;
    padding: 8px 8px;
    transform: .3s;
    transition: 0.6s;
    border-radius: 50%;
    margin-left: -20px;
}
.search a:hover{
    transition: 0.6s;
    padding: 8px 8px;
    background-color: #E4E5E5;
    box-shadow: 10px 10px 20px rgba(0.1, 0.1, 0.1, 0.2);
}
#time-zone{
    margin-top: 20px; margin-left: 13px; font-size: 17px;
}
#city-img{
    margin-top: 90px; text-align:center; font-size:40px; font-weight:bold;
}
#county{
    margin-top: -30px; text-align: center; font-size: 25px;
}
#M-N{
    margin-left: 12px; display: flex; gap: 35px;
}
#H-L{
    margin-left: 20px; margin-top: 70px;
}

#H-L p{
    margin-bottom: -10px; font-weight: bold;
}
#max, #min{
    font-size: 17px;
}
.main-content{
    max-width: 1250px;
    margin: auto;
}
#content{
    background-color: #E4E5E5;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    height: 380px;
    align-items: center;
    display: flex;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}
.left{
    height: 105.3%;
    width: 30%;
    border-right: 8px solid #b8b8b893;
}

.right{
    height: 100%;
    width: 70%;
}
#Weather{
    display: flex; justify-content: center; margin-top: 20px; text-align:center; font-size:35px; font-weight:bold;
}
#Cel-Fah{
    display: flex; justify-content: center; gap: 70px; font-size: 30px; font-weight: bold; margin-top: -10px;
}
.temperatureText{
    display: flex; justify-content: center; gap: 250px; font-size: 30px; font-weight: bold; margin-top: -50px;
}
#img-box{
    display: flex; justify-content: center; margin-top: 20px;
}
#img-weather{
    background-color: aqua;
    background-size: 100% 100%;
    width: 810px;
    height: 80px;
    margin-left: 10px;
    border-radius: 35px;
    box-shadow: inset 0 0 15px black;
}

@media screen and (max-width: 700px){
    html, body{
        font-family: Arial, Helvetica, sans-serif;
    }
    .main-content{
        max-width: 600px;
        margin-top: -25px;
    }
    #content{
        height: 650px;
        display: block;
        margin: 30px;
    }
    #city-img{
        margin-top: 20px;
    }
    #city{
        font-size: 35px;
    }
    #county{
        font-size: 20px;
    }
    #H-L{
        margin-top: -20px;
        text-align: end;
        margin-right: 10px;
    }
    #M-N{
        justify-content: end;
        margin-right: 6px;
    }
    .left{
        height: 30%;
        width: 102%;
        border-right: none;
        border-bottom: 8px solid #b8b8b893;

    }
    .right{
        height: 70%;
        width: 100%;
    }
    #Weather{
        font-size: 28px;
    }
    #Cel-Fah{
        margin-top: 30px;
        gap: 40px; font-size: 22px;
    }
    .temperatureText{
        gap: 140px;
        font-size: 22px;
        margin-top: -20px;
    }
    #img-weather{
        margin-top: 40px;
        margin-left: 0;
    }

}